<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>You are invited to join VegOut!</h1>
  <p>
    To signup, just follow this link: <%= @url %>. Please use the email sent to this address when signing up to be added
    to the group you were invited to!
  </p>
  <p>We look forward to seeing you there, have a great day!</p>
</body>

</html>